@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html,body,#root{
	height: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
a,button{
	cursor: pointer;
	color: inherit;
}
.cardTitleSection, .partnerTitleSection{
	color: #444444;
	text-align: center;
	margin: 8% 0 3% 0; 
	letter-spacing: 3px;
}
.formPartner{
	margin-top: 5%;
}