.profilePartner{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px;
	max-width: 1200px;
	margin: 0 10%;
	justify-content: center;
	align-content: center;
}
.imgProfilePartner{
	margin-left: 15%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.profile{
	position: relative;
}
.iconPartner{
	position: absolute;
	bottom: 40%;
	left: 45%;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}
#firstIcon,
#secondIcon,
#thirdIcon,
#forthIcon{
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 1.2em;
	padding: 5px 0 0 5px;
}
#firstIcon{
	background-color: #FF4E50;
}
#secondIcon{
	background-color: #19D4CA;
}
#thirdIcon{
	background-color: #FFA710;
}
#forthIcon{
	background-color: #667DF3;
}
.namePartner{
	font-weight: 700;
}
.bioPartner{
	font-weight: 300;
	font-size: 0.9em;
}
.namePartner,.bioPartner{
	text-align: center;
	margin: 10px 0;
	color: #444444;
}
@media (max-width: 900px){
	.profilePartner{
		grid-template-columns: repeat(2,1fr);
		max-width: 900px;
	}
	.imgProfilePartner{
		margin-left: 25%;
	}
	.iconPartner{
		left: 55%;
	}
}
@media (max-width: 400px){
	.profilePartner{
		grid-template-columns: repeat(1,1fr);
		max-width: 400px;
	}
}